<ul class="select-none border-r h-full">
  <li
    class="p-1 pl-2 m-1 font-semibold rounded-md hover:bg-slate-200 cursor-pointer not-italic text-slate-950"
    [routerLink]="['']"
  >
    Home
  </li>
  <li class="p-1 pr-2 font-medium text-slate-600 italic">Geocoding:</li>
  <li class="p-1 pr-2 font-medium text-slate-600 italic">
    Geospatial:
    <ul>
      <li
        class="p-1 pl-2 font-semibold rounded-md hover:bg-slate-200 cursor-pointer not-italic text-slate-950"
        [routerLink]="['geospatial/elevation']"
      >
        🏔 &nbsp; Elevation
      </li>
    </ul>
  </li>
  <li class="p-1 pr-2 font-medium text-slate-600 italic">Routing:</li>
</ul>
